# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
Backup/rest-api-client-web-app (1).zip
Backup/rest-api-client-web-app (2).zip
Backup/rest-api-client-web-app (3).zip
Backup/rest-api-client-web-app (4).zip
Backup/rest-api-client-web-app.zip
Backup/rest-api-client.zip
Backup/user-property-crud (1).zip
Backup/user-property-crud (2).zip
Backup/user-property-crud (3).zip
Backup/user-property-crud (4).zip
Backup/user-property-crud (5).zip
Backup/user-property-crud (6).zip
Backup/user-property-crud (7).zip
Backup/user-property-crud.zip

# .bak files - Manual backups
*.bak
